<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dace</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
   <!-- <form action="" method="post">
       {% csrf_token %}
       {{ login }}
       <input type="submit" value="Logar">
   </form>
   <a href="/cadastro">Cadatre-se</a> -->

 <nav>
      
    <a href=""> <img src="../static/imagens/logo.jpeg" alt="logo da Dare"></a>
       
        <h1>Dare</h1>

 </nav>

 <header>
     <h3>Desafie-se a fazer o bem. Entre para essa rede!</h3>
 </header>

 <section>
     <h1>Dare</h1>

    <p>
            Segundo uma pesquisa realizada em 2019 pela BBC, o tempo gasto nas redes sociais aumentou 60% nos últimos 7 anos,  sendo a média global atual de 143 minutos por dia  dedicados ao uso de sites ou aplicativos de mídia social. 
    </p>

    <img src="" alt="">
    <img src="" alt="">
    <p>
            Usufruindo do crescente uso das redes sociais, somado ao desejo de fazer a diferença no mundo, nasce a DARE, uma rede de desafios que visam proporcionar a melhora de todo nosso contexto por meio de pequenas atitudes.

    </p>

    <h4>Como funciona?</h4>

   <p>
        A DARE é movida por desafios que são sugeridos pelos usuários que comprovam a sua participação por meio de postagens. Os temas dos desafios são diversos e englobam educação, ecologia, socialização, saúde e bem -estar. A nossa intenção é te desafiar a fazer o bem, e você tá esperando o que para se conectar?
   </p>
 </section>

 <footer>
     <h5>Desenvolvido por alunos da academia Mastertech</h5>

     <img src="../static/imagens/logo-estacao-hack.jpg">

 </footer>
</body>
</html>